{% extends "base.html" %}

{% block list %}
<ul>
    <li class="active"><a href="/">Home</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    {% if user.is_authenticated %}
    <li><a href="/accounts/logout/">log out</a></li>

    {% else %}
    <li><a href="/accounts/login/#login">login</a></li>
    <li><a href="/accounts/signup/#signup">sign up</a></li>
    {% endif %}
</ul>

{% endblock %}


{% block base %}



{% endblock %}
