{% extends "base.html" %}
{% load static %}

{% block list %}
<style>
    .content .sidebar {
        width: 100%;
        float: left;
        margin-bottom: 120px;
    }

</style>
<ul>
    <li><a href="/">HOME</a></li>
    {% if user.is_authenticated %}
    <li class="active"><a href="/books/issuebooks/">ISSUE BOOKS</a></li>
    <li><a href="/books/returnbooks/">RETURN BOOKS</a></li>
    <li><a href="/about/">ABOUT US</a></li>
    <li><a href="/contact/">CONTACT US</a></li>
    <li><a href="/profile">VIEW PROFILE</a></li>
    <li onclick="return confirm('Do you want to log out')"><a href="/accounts/logout/">LOG OUT</a></li>


    {% else %}
    <li><a href="/accounts/login/#login">LOGIN</a></li>
    <li><a href="/accounts/signup/#signup">SIGN UP</a></li>
    {% endif %}
</ul>

{% endblock %}


{% block base %}
<div class="home">
    <form class="example" action="" method="get">
        <input type="text" placeholder="Search for books..." name="search_value" autocomplete="off">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

<div class="content">
    <div class="sidebar">


        <table class="books" id="myTable2">
            <caption>BOOKS</caption>
            <tr>
                <th onclick="sortTable(0)">Book Id<i class="arrow down"></i></th>
                <th onclick="sortTable(1)">Name <i class="arrow down"></i></th>
                <th onclick="sortTable(2)">Author <i class="arrow down"></i></th>
                <th onclick="sortTable(3)">Publication <i class="arrow down"></i></th>
                <th colspan="2" class="issue">
                    <form action="/books/issuebooks" method="get" class="show">
                        <input type="submit" value="Show All">

                    </form>
                </th>
            </tr>
            {% for book in books %}
            <tr>
                {% if book.no_of_copies == 0 %}
                <td style="color: red">{{book.code}}</td>
                <td style="color: red">{{book.name}}</td>
                <td style="color: red">{{book.author}}</td>
                <td style="color: red">{{book.publication}}</td>
                <td style="color: red" colspan="2" class="issue">not availabe</td>
                {% else %}
                <td style="color: green">{{book.code}}</td>
                <td style="color: green">{{book.name}}</td>
                <td style="color: green">{{book.author}}</td>
                <td style="color: green">{{book.publication}}</td>
                <td style="color: green">availabe</td>

                <td class="issue">
                    <form action="issue/" method="post" onsubmit="return confirmissue()" class="issuebutton">
                        {% csrf_token %}
                        <input type="hidden" name="bookcode" value="{{book.code}}">
                        <input type="submit" value="Issue">

                    </form>
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}

{% block footer %}

<li><a href="/">HOME</a></li>
{% if user.is_authenticated %}
<li class="active"><a href="/books/issuebooks/">ISSUE BOOKS</a></li>
<li><a href="/books/returnbooks/">RETURN BOOKS</a></li>
<li><a href="/about/">ABOUT US</a></li>
<li><a href="/contact/">CONTACT US</a></li>
<li><a href="/profile">VIEW PROFILE</a></li>
<li><a href="/profile"> HELLO, {{user.first_name}}</a></li>
<li onclick="return confirm('Do you want to log out')"><a href="/accounts/logout/">LOG OUT</a></li>


{% else %}
<li><a href="/accounts/login/#login">LOGIN</a></li>
<li><a href="/accounts/signup/#signup">SIGN UP</a></li>
{% endif %}

{% endblock %}
