{% extends "base.html" %}


{% block list %}
<style>
    .content .sidebar {
        width: 500px;
        float: right;
        margin-right: 30%;

    }

</style>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/#about">About Us</a></li>
    <li><a href="/contact/">Contact Us</a></li>

    {% if user.is_authenticated %}
    <li><a href="/accounts/logout/">log out</a></li>
    <li><a href="/profile"> hello {{user.first_name}}</a></li>
    <li><a href="/profile">view profile</a></li>
    <li><a href="/books/issuebooks/">Issue Books</a></li>
    <li><a href="/books/returnbooks/">return Books</a></li>


    {% else %}
    <li class="active"><a href="/accounts/login/#login">login</a></li>
    <li><a href="/accounts/signup/#signup">sign up</a></li>
    {% endif %}
</ul>

{% endblock %}


{% block base %}
<div class="content">
    <div class="sidebar">

        {% for message in messages %}
        {% if message.tags == 'success' %}
        <p class="{{message.tags}}">{{message}}</p>
        {% endif %}
        {% endfor %}

        <div class="login">
            <h1 class='h1l' id="login">LOGIN HERE</h1>
            <form action="" method="post" onsubmit="return validate()">
                {% csrf_token %}

                <input id=sp name="user_name" type="text" placeholder="username" /><br>
                <input id=sp2 name="password" type="password" placeholder="password" /><br>
                <input id="sp3" type="submit" value="login" />
            </form>
            <h5 class="lform"><a href="/accounts/signup/#signup">don't have account click here..</a></h5>
            <h5 class="lform"><a>forget password</a></h5>


            {%for message in messages%}
            {% if message.tags == 'error' %}

            <h4 class="{{message.tags}}">*{{message}}</h4>
            {% endif %}

            {% endfor %}


        </div>
    </div>
</div>
            <div class="border"></div>



{% endblock %}

{% block footer %}

<li><a href="/">Home</a></li>
<li><a href="/about/#about">About Us</a></li>
<li><a href="/contact/">Contact Us</a></li>
{% if user.is_authenticated %}
<li><a href="/accounts/logout/">log out</a></li>
<li><a href="/profile"> hello- {{user.first_name}}</a></li>
<li><a href="/profile">view profile</a></li>

{% else %}
<li class="active"><a href="/accounts/login/#login">login</a></li>
<li><a href="/accounts/signup/#signup">sign up</a></li>
{% endif %}

{% endblock %}
