{% extends "base.html" %}


{% block list %}
<style>
    .content .sidebar {
        width: 500px;
        float: right;
        margin-right: 30%;

    }

</style>
<ul>
    {% if user.is_authenticated %}
    <li><a href="/">HOME</a></li>
    <li><a href="/books/issuebooks/">ISSUE BOOKS</a></li>
    <li><a href="/books/returnbooks/">RETURN BOOKS</a></li>
    <li><a href="/about/">ABOUT US</a></li>
    <li><a href="/contact/">CONTACT US</a></li>
    <li><a href="/profile">VIEW PROFILE</a></li>
    <li onclick="return confirm('Do you want to log out')"><a href="/accounts/logout/">LOG OUT</a></li>


    {% else %}
    <li><a href="/">HOME</a></li>
    <li><a href="/about/">ABOUT US</a></li>
    <li><a href="/contact/">CONTACT US</a></li>
    <li class="active"><a href="/accounts/login/#login">LOGIN</a></li>
    <li><a href="/accounts/signup/#signup">SIGN UP</a></li>
    {% endif %}
</ul>

{% endblock %}


{% block base %}
<div class="content">
    <div class="sidebar">

        {% for message in messages %}
        {% if message.tags == 'success' %}
        <p class="{{message.tags}}">{{message}}</p>
        {% endif %}
        {% endfor %}

        <div class="login">
            <h1 class='h1l' id="login">LOGIN HERE</h1>
            <form action="" method="post" onsubmit="return validate()">
                {% csrf_token %}

                <input id=sp name="user_name" type="text" placeholder="username" /><br>
                <input id=sp2 name="password" type="password" placeholder="password" /><br>
                <input id="sp3" type="submit" value="login" />
            </form>
            <h5 class="lform"><a href="/accounts/signup/#signup">don't have account click here..</a></h5>
            <h5 class="lform"><a>forget password</a></h5>


            {%for message in messages%}
            {% if message.tags == 'error' %}

            <h4 class="{{message.tags}}">*{{message}}</h4>
            {% endif %}

            {% endfor %}


        </div>
    </div>
</div>




{% endblock %}

{% block footer %}

{% if user.is_authenticated %}
<li><a href="/">HOME</a></li>
<li><a href="/books/issuebooks/">ISSUE BOOKS</a></li>
<li><a href="/books/returnbooks/">RETURN BOOKS</a></li>
<li><a href="/about/">ABOUT US</a></li>
<li><a href="/contact/">CONTACT US</a></li>
<li><a href="/profile">VIEW PROFILE</a></li>
<li onclick="return confirm('Do you want to log out')"><a href="/accounts/logout/">LOG OUT</a></li>


{% else %}
<li><a href="/">HOME</a></li>
<li><a href="/about/">ABOUT US</a></li>
<li><a href="/contact/">CONTACT US</a></li>
<li class="active"><a href="/accounts/login/#login">LOGIN</a></li>
<li><a href="/accounts/signup/#signup">SIGN UP</a></li>
{% endif %}

{% endblock %}
